body{
	font-family: Tahoma;
	font-size: 12px;
	background-color:#EEF3FA;
}

.divBig{
	width: 980px;
	height:2781px;
	margin:0px auto;
	text-align:center;
	clear:both;
	background-color:white;
}

.divlogin{
	height: 32px;
	background-image:url('../Img/Design/1.png')
}

.divtextlogin1{
	float:left;
	width: 901px;
	height: 14px;
	margin-left: 10px;
	margin-top: 8px;
	font-weight:bold;
}

.divtextlogin2{
	float:right;
	color: blue;
	width: 68px;
	margin-top: 8px;
	font-weight:bold;
}

.divSearch{
	background-color: #9DD127;
	height: 31px;
}

.divSearchImg{
	float:left;
	border:0px;
	width:26px;
	height:29px;
	margin-left:10px;
}

.divSearchInput{
	float:left;
	width:318px;
	height:17px;
	margin-top:4px;
}

.divSearchSelect{
	float:left;
	width:124px;
	height:24px;
	margin-left:10px;
	margin-top:4px;
}

.divSearchButton{
	float:left;
	width: 83px;
	height: 21px;
	margin-left:3px;
	margin-top:3px;
}

.divSearchText{
	float:left;
	margin-top:12px;
}

.divBoxarea{
	height:650px;
}

.divBoxareaDesign{
	background-image:url('../Img/Design/2.png');
	height:49px;
	margin-top:5px;
}

.divBoxareaDesign2{
	width:980px;
	margin-top:10px;
	height:580px;
}

.divProductlist{
	float:left;
	width:226px;
	height:580px;
}

.divProductlista{
	border:1px solid silver;
	width:226px;
	height:415px;
}

.divTextProductlist{
	background-color: #EFEFEF;
	width:226px;
	height:50px;
}

.divImgTextProductlist{
	float:left;
	width:30px;
	margin-left:10px;
	margin-top:11px;
}

.divTextProductlist1{
	float:left;
	width:160px;
	margin-top:12px;
	font-weight:bold;
	text-align:left;
}
.divTextProductlist2{
	width:224px;
	height:28px;
	border-bottom:1px solid  #EFEFEF;	
}

.divTextProductlist2a{
	width:210px;
	margin-left:10px;
	color:#CF9C5B;
	text-align:left;
	display:table;
}


.divProductlistb{
	width:224px;
	height:120px;
	margin-top:10px;
}

.divLogoProduct{
	float:left;
	width:739px;
	height:580px;
	margin-left:13px;
}

.divLogoProductBox1{
	width:739px;
	height:368px;
}


.divImgLogoProduct{
	border:0px;	
	float:left;
	width: 529px;
	height:369px;
}

.divBrand{
	float:right;
	width: 200px;
	height: 369px;
	border:1px solid aqua;
}

.divTextBrand1{
	background-image:url('../Img/Design/6.png');	
	width:200px;
	height:32px;
	display:table;
}

.divTextBrand1a{
	width:189px;
	font-weight:bold;
	margin-top:8px;
	text-align:left;
	margin-left:5px;
}

.divLogo{
	height:77px;	
	border:1px solid  #EFEFEF;	
}

.divImgLogo{
	float:left;
	border:0px;
	margin-left:5px;
	margin-top:5px;
}

.divTextBrand2{
	width:62px;
	height:62px;
	float:left;
	margin-top:5px;
	font-weight:bold;
	text-align:left;
}

.Product1{
	height:180px;
	margin-top:25px;
	border-bottom:2px solid #C3E68A;
	border-top:2px solid #C3E68A;
	border-left:2px solid #EFEFEF;
	border-right:2px solid #EFEFEF;
}

.ImgProduct1{
	float:left;
	width:125px;
	height:175px;
	margin-left:18px;
}

.ImgProduct1a{
	width:125px;
	height:105px;
	margin-top:30px;
}

.ImgProducthit{
	width:980px;
	height:80px;
}

.ImgProducthit1{
	float:left;
	border:0px;
	width:485px;
	height:80px;
}

.ImgProducthit2{
	float:left;
	border:0px;
	width:485px;
	height:80px;
	margin-left:10px;
}

.ImgProducthitB{
	width:980px;
	height:513px;
	margin-top:10px;
}

.ProductHot1{
	float:left;
	height:508px;
	width:320px;
	border:1px solid aqua;
	display:table;
}

.divTextHot1{
	background-image:url('../Img/Design/6.png');	
	width:320px;
	height:32px;
	display:table;
}

.divTextHot1a{
	width:189px;
	font-weight:bold;
	margin-top:8px;
	text-align:left;
	margin-left:5px;
}

.ImgHot1{
	float:left;
	width:320px;
	height:100px;
}

.ImgHot1a{
	float:left;
	width:80px;
	height:100px;
	margin-left:5px;
}

.ImgHot1aa{
	float:left;
	width:76px;
	height:100px;
}

.ImgHot1b{
	border:0px;
	height:70px;
}

.ImgTextHot1b{
	font-weight:bold;
	color:blue;
}

.ProductHot1c{
	width:320px;
	height:25px;
	margin-top:60px;
	text-align:right;
	border-top:1px solid gray;
}

.ProductHot1cc{
	margin-top: 6px;
	color:blue;
	width:300px;	
}

.ProductHot2{
	float:right;
	width:650px;
	height:508px;
	border:1px solid silver;
	display:table;
}

.Box1ProductHot2{
	background-image:url('../Img/Design/1.png');
	width:650px;
	height:32px;
	display:table;
}

.BoxTextHot2{
	width:220px;
	font-weight:bold;
	margin-top:8px;
	text-align:left;
	margin-left:10px;
}

.Box2ProductHot2{
	width:650px;
	height:459px;
	margin-top:16px;
	display:table;
}

.Box2ProductHot2a{
	width:650px;
	height:159px;
	display:table;
}

.ImgBox2ProductHot2{
	width:650px;
	height:159px;
	display:table;
}

.ImgBox2a{
	float:left;
	width:126px;
	height:159px;
	margin-left:10px;
}

.ImgBox2aa{
	float:left;
	width:126px;
	height:159px;
}


.ImgBox2aaa{
	float:left;
	width:114px;
	height:159px;
}

.ImgBox2aC{
	border:0px;
	width:114px;
	height:116px;

}

.TextBox2aC{
	width:112px;
	height:29px;
	font-weight:bold;
	color:blue;
}

.BoxMap{
	width:980px;
	height:545px;
	margin-top:15px;
	text-align:left;
}

.BoxMapa{
	background-image:url('../Img/Design/1.png');
	width:980px;
	height:32px;
	display:table;
	border-left:1px solid silver;
	border-right:1px solid silver;
	
}

.BoxImgMap{
	width:980px;
	height:401px;
	border-bottom:1px solid silver;
	border-left:1px solid silver;
	border-right:1px solid silver;
}

.ImgMap{
	border:0px;
	width:750px;
	height:401px;
}


.ImgMapb{
	width:980px;
	height:100px;
	margin-top:10px;
}

.ImgMapb1{
	background-image:url('../Img/Design/7.png');
	float:left;
	width:485px;
	height:100px;
}

.ImgMapb2{
	background-image:url('../Img/Design/8.png');
	float:right;
	width:485px;
	height:100px;
}

.BoxNewProduct{
	width:980px;
	height:554px;
	border:1px solid black;
	margin-top:15px;
}

.BoxMenuNewProduct{
	background-image:url('../Img/Design/10.png');
	width:980px;
	height:37px;
}

.TextMenuNew1{
	float:left;
	width:130px;
	height:34px;
	font-weight:bold;
}

.TextMenuNew1a{
	width:130px;
	height:14px;
	margin-top:10px;	
}

.TextMenuNew2{
	background-color:gray;
	float:left;
	width:100px;
	height:34px;
	font-weight:bold;
	border-left:1px solid white;
	border-right:1px solid white;
}

.TextMenuNew1b{
	width:100px;
	height:14px;
	margin-top:10px;
	color:white;	
}

.TextMenuNew3{
	background-color:gray;
	float:left;
	width:60px;
	height:34px;
	font-weight:bold;
	border-left:1px solid white;
	border-right:1px solid white;
}

.TextMenuNew1c{
	width:60px;
	height:14px;
	margin-top:10px;
	color:white;	
}

.ProductImgNew{
	width:980px;
	height:460px;
	margin-top:55px;
	display:table;
}

.ProductImgNew1{
	width:980px;
	height:140px;
	display:table;
}

.ProductImgNew1a{
	float:left;
	border:0px;
	width:118px;
	height:140px;

}


.ImgNew{
	float:right;
	width:65px;
	height:95px;
}

.TextNew{
	float:right;
	width:65px;
	height:14px;
	color:blue;
	font-weight:bold;
	margin-top:10px;
}

.BoxText{
	width:980px;
	height:280px;
	margin-top:20px;
}

.BoxVienText{
	width:980px;
	height:4px;
}

.BoxTexta{
	width:980px;
	height:105px;
	margin-top:20px;
	color:blue;
}


.BoxVienText2{
	width:980px;
	height:6px;
}

.BoxVienText2a{
	float:left;
	width:963px;
	height:4px;
	border-bottom:4px solid #9BC229;
}

.BoxVienText2b{
	float:right;
	width:17px;
	height:4px;
	border-bottom:4px solid #EDEDED;
}


.BoxVienText2c{
	float:left;
	width:963px;
	height:4px;
	border-bottom:6px solid #BBBBBB;
}
.BoxVienText2d{
	float:right;
	width:17px;
	height:4px;
	border-bottom:6px solid #EDEDED;
}



.BoxTextb{
	width:980px;
	height:15px;
	margin-top:20px;
	color:silver;
	font-weight:bold;
}

.BoxTextbb{
	width:980px;
	height:15px;
	color:silver;
	font-weight:bold;
}





